<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isAdmin()"
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" routerLink="/genres"
            >MUSIC GENRES</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups"
            >GROUPS</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/records"
            >RECORDS</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="emailUser" class="me-3">Welcome, {{ emailUser }}</li>
        <li *ngIf="isAdmin()" class="me-3">ADMIN</li>
        <li *ngIf="emailUser"><button class="btn btn-outline-primary me-2"(click)="logout()">Cerrar sesión</button></li>
        <li *ngIf="!emailUser"><button class="btn btn-outline-primary me-2" routerLink="/login">Iniciar sesión</button></li>
      </ul>
    </div>
  </div>
</nav>

