<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/library/publishingHouses" routerLinkActive="active">Genres</a>
        </li> -->
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/library/authors" routerLinkActive="active">Authors</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/library/books" routerLinkActive="active">Books</a>
        </li> -->
      <!-- </ul> -->
      <!-- <div class="d-flex">
        <p class="me-2 mt-2">Welcome, <b>{{userName}}</b></p>
        <button class="btn btn-outline-success" type="button" (click)="closeSession()">Close Session</button>
      </div> -->
    <!-- </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <img class="mb-4" src="/src/assets/img/eCommerceDs.webp" alt="disco_commerce" width="62" height="62"> -->

  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item active">
          <a class="nav-link" routerLink="/genres" routerLinkActive="active"
            >MUSIC GENRES</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups"
            >GROUPS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>


        <!-- <li class="nav-item dropdown" *ngIf="isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLink="/generos-admin"
                routerLinkActive="active"
                >GENEROS</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/grupos-admin"
                routerLinkActive="active"
                >GRUPOS</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/discos-admin"
                routerLinkActive="active"
                >DISCOS</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex"></div> -->
<!-- <span
  class="icon-container"
  style="position: relative; cursor: pointer"
  (click)="goToCart()"
  *ngIf="!isAdmin"
>
  <i class="pi pi-shopping-cart" style="font-size: 44px"></i>
  <span
    class="badge bg-danger"
    style="
      position: absolute;
      top: -5px;
      right: -10px;
      padding: 0.2em 0.5em;
      border-radius: 60%;
    "
  >
    {{ cartCount }}
  </span>
</span> -->

      <!-- <button
        class="btn btn-outline-secondary ms-2"
        routerLink="/login"
        *ngIf="!isLoggedIn()"
      >
        Iniciar sesión
      </button>
      <p class="me-2 mt-2" *ngIf="isLoggedIn()">
        <b>{{ emailUsuario }}</b>
      </p>
      <button
        class="btn btn-outline-secondary ms-2"
        type="button"
        (click)="cerrarSesion()"
        *ngIf="isLoggedIn()"
      >
        Cerrar sesión
      </button> -->
    <!-- </div> -->
  <!-- </div>
</nav> -->

